In [2]:
# sqiite3是轻量级数据库
# 导入 sqlite3 模块?
# sqlite3 是 Python 标准库中的一个模块，用于操作 SQLite 数据库。
import sqlite3

In [3]:
# 打开链接
# 连接到 SQLite 数据库（如果不存在，会创建一个新数据库）
conn=sqlite3.connect("test2.db")

# cursor 是一个数据库操作的句柄，用于执行 SQL 语句并处理结果。
cursor=conn.cursor() #这句代码创建了一个游标对象 cursor，用于执行 SQL 语句并处理结果。

cursor.execute("""
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    department TEXT，
    salary INTER
)
""")
# execute 方法执行了 SQL 语句，创建了一个名为 employees 的表，包含 id、name、department 和 salary 四个字段。
# 执行完 SQL 语句后，需要调用 commit 方法提交事务，确保更改生效。
conn.commit()

In [7]:
sample_data = [
    ( 6, "陈昊", "开发部", 32000),
    ( 7, "张三", "销售部", 20000),
    ( 8, "曹威威", "开发部", 33000),
    ( 9, "李四", "销售部", 15000)
]
cursor.executemany('INSERT INTO employees VALUES (?, ?, ?, ?)', sample_data)
conn.commit()
# OperationalError: near "?": syntax error是什么意思？
# 解释一下
# 这是因为 executemany 方法期望每个参数都有一个占位符，而你提供的 SQL 语句中没有占位符。
# 正确的 SQL 语句应该是：
# "INSERT INTO employees(id,name,department,salary) VALUES(?,?,?,?)"

OperationalError: table employees has 3 columns but 4 values were supplied